#app-container {
  justify-content: center;
  height: 100%;
  
  position: relative;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

img {
  border-radius: 50%;
  object-fit: cover;
}

input[type="text"] {
  padding-left: 5%;
}

#photo-modal {
  position: fixed;
  display: flex;
  justify-content: center;
  background: black;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  overflow-y: hidden;
  overflow: scroll;

  z-index: 1;
}

#photo-modal span {
  color: rgb(145, 127, 127);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: whitesmoke;
  font-size: xx-large;
  position: absolute;
  top: 25px;
  right: 50px;
}

#photo-modal .close {
  z-index: 3
}
#photo-modal .close:hover {
  cursor: pointer;
  background:  rgb(194, 186, 186);
  color:rgb(255, 255, 255);
}

#photo-modal .arrows {
  z-index: 3;
  position: absolute;
  /* display: flex; */
  width: 100%;
  height: 100%
}

#inner-arrows {
  position: relative;
  height: 100%;
  width: 100%;
}

#photo-modal .arrows button {
  position: absolute;
  background-color: whitesmoke;
  border-radius: 5px;
}


#photo-modal .arrows button:hover {
  background:  rgba(19, 18, 18, 1);
  color:rgb(255, 255, 255);
}

#photo-modal .arrows button:focus {
  border-color: none;
}

#photo-modal .arrows button#next {
  top: 50%;
  right: 7.5%;

  height: 50px;
  width: 100px;
}
#photo-modal .arrows button#previous {
  top: 50%;
  left: 7.5%;

  height: 50px;
  width: 100px;
}

#photo-modal img {
  border-radius: 0;
  object-fit: none;
  width: auto;

  z-index: 2;
}

#photo-modal #fraction {
  position: absolute;
  left: 0;
  background: none;
  border-radius: none;
  width: 100px;
}

/* 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
