#app-container {
  justify-content: center;
  height: 100%;
  
  position: relative;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

img {
  border-radius: 50%;
  object-fit: cover;
}

input[type="text"] {
  padding-left: 5%;
}

#photo-modal {
  position: fixed;
  display: flex;
  justify-content: center;
  background: black;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  overflow-y: hidden;
  overflow: scroll;

  z-index: 1;
}

#photo-modal span {
  color: rgb(145, 127, 127);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: whitesmoke;
  font-size: xx-large;
  position: absolute;
  top: 25px;
  right: 50px;
}

#photo-modal img {
  border-radius: 0;
  object-fit: none;
  width: auto;

  z-index: 2;
}

/* 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
