.comment {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    font-size: .9375rem;
    height: fit-content;
    min-height: 45px;
    margin: 0px 5px 20px 5px;

    border-style: none;
    border-radius: 20px;

    background-color: #dae1ed;

    position: relative;
}

.comment-words {
    display: flex;
}

.right {
    display: flex;
    padding-right: 10px;
    align-items: center;
}

.right .like-component {
    align-items: center;
}

.comment-content {
    margin-left: 17.5px;
}