#header {
    position: fixed;
    display: flex;
    height: 10vh;

    position: relative;
    
    background-color: #0077b6;
}

button#logout-button, #profile-button, button#home-button, #user-name {
    position: absolute;
    height: 40%;
    top: 30%;
    font-size: large;
}

button#logout-button {
    margin-top: 3px;
    color: white;
    font-weight: bold;
    background: none;
}

button#home-button {
    margin-left: 2%;
    background: none;
    border-style: none;

    max-width: 12%;

    font-weight: bold;
    font-size: x-large;
    color: white;
}

#profile-button {
    margin-top: 0px;
    right: 12.5%;
    background: none;
    height: 50%;
}


button#logout-button {
    right: 3.5%;
}

#user-name {
    margin-top: 8px;
    right: 16.5%;
    background: none;
    color: white;
    height: 50%;
}