.post {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 5px;

    /* border-style: 1px solid lightgrey; */
    border-radius: 10px;
    background-color: white;

    box-shadow: .5px 1px 3px grey;
}

.post div.post-content, div.like-component {
    border-top: 1px solid lightgrey;
}

.post-wrapper {
    display: flex;
    align-items: center;

}
