.post-content {
    display: flex;
    flex-direction: column;
    padding: 15px 5px 5px 15px;
    font-size: .9375rem;
    text-align: left;
}

.post-header {
    display: flex;
    align-items: center;
}

.post-header a {
    display: flex;
    align-items: center;
    margin-left: 10%;
    min-width: 50%;
}


img.post-photo {
    border-radius: 0;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    max-width: 50%;
}

