.post {
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 5px;

    border-radius: 10px;
    background-color: white;

    box-shadow: .5px 1px 3px grey;
}

.post div.post-content, div.post-wrapper {
    border-top: 1px solid lightgrey;
}


.post-wrapper {
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}

.post-wrapper .like-component {
    width: 60%;
    align-items: center;
    justify-content: space-between;
}

.post-wrapper button {
    margin-bottom: 0;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 0;
}

.buttons button {
    margin-top: 5px;
    margin-bottom: 0;
}

.right span {
    padding-top: 0;
    margin-top: 0px;
}

img.menu {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 25px;
    margin-right: 0;
}

.post-buttons {
    position: absolute;
    top: 5px;
    right: 20px;

    padding-right: 10px;
}

.post-buttons .post-delete {
    margin-top: 0px;
}

.post-buttons span {
    position: absolute;
    top: 0;
    right: 0;

    margin-left: 5px;
}

.comment-form {
    margin-top: 1.5%;
    margin-bottom: 1.5%;

}

.comment-form input {
    height: 25px;
    width: 50%;
}

.post button:hover {
    background: rgba(222, 222, 222, 1)
}

.post .extra, .post .close:hover {
    cursor: pointer;
}