#post-form {
    position: relative;

    width: 25%;
    margin: auto;
    padding: 5%;

    border-style: 1px solid lightgrey;
    border-radius: 10px;

    box-shadow: .5px 1px 3px grey;
}

#post-form div#inner-form {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
}

#post-form input {
    height: 20%;
    margin: 10px;
    border-radius: 5%;
}

#post-form input[type="text"] {
    width: 90%;
    font-size: medium;
}

#post-form input[type="submit"] {
    width: 50%;
    font-size: large;
}

