#profile {
    display: flex;
    justify-content: center;
    margin: auto;
    min-height: 100%;
    overflow-y: hidden;
    overflow: scroll;
}

#profile #posts {
    margin-left: 10%;
    min-width: 35%;
    max-width: 35%;
}

#profile #info-card {
    height: fit-content;
    width: 25%;
    padding: 10px;
    margin-top: 3.5vh;
    border-style: none;

    border-radius: 10px;
    background-color: white;

    box-shadow: .5px 1px 3px grey;

}

#about-and-follow {
    display: flex;
    align-items: center;
    
}

#about-and-follow h2 {
    margin-right: auto;
}

#follow-button {
    margin-right: 10%;
}

#user-info {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    text-align: left;
}

#user-info h4 {
    margin-top: 5%;
    margin-bottom: 5%
}

#user-info p {
    margin-top: 1%;
}


#profile ul {
    list-style-type: none;
}

li {
    margin-left: 0;
    max-width: 50%;
    margin-top: 5%;

    display: flex;
    align-items: center;
    font-size: large;
}

img#profile {
    max-height: 100px;
    width: auto;
    min-width: 100px;
}

img#friend-list-img {
    max-height: 25px;
    width: auto;
    margin-right: 5%;
}

img#post {
    max-height: 30px;
    width: auto;
    margin-right: 5%;
}
