#search-bar {
    height: 40%;
    margin-top: 3vh;
    margin-left: 15%;

    align-items: center;
}

#search-bar input {
    height: 100%;
    width: 200px;

    border-style: none;
    border-radius: 15px;
}

#search-bar li {
    list-style: none;
    margin: 5px;
    border-style: 1px solid;
    border-color: black;
    border-radius: 10px;
    background-color: white;
}